@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
  }
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
  }
  .row{
   display: flex;
   flex-wrap: wrap;
  }
  /* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
    padding:20px;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
  }
  nav ul li a{
    text-decoration: none!important;
    color: #000!important;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }
  .MenuItems a:hover{
      text-decoration: none;
  }
  /* --------------- End of Navbar ---------------- */
  /* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("./images/mainimage.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
  }
  .banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  /* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  .product:hover{
   transform: translateY(-5px);
  }
  .product{
    transition: transform 0.5s;
  }
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  
  /* ---------------End of Products ---------------- */
  /* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
.buynow{
    height: 60px;
    width: 210px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1 rem;
    margin-top: 10px;
    padding: 20px;
    background-color: #f09d51;
}
.buynow:hover{
  background-color: transparent;
  border: 1px solid #f09d51;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

/*--------------featured categories---------------*/
.fortitle{
  text-align: center;
  margin-top:30px;
  margin-bottom: 20px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.fortitle::after{
  content: '';
  background:#ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*-------offer----------*/
.offer{
  background: radial-gradient(#fff,#ffd6d6);
  padding: 30px 50px;
  margin: 80px 50px;
  }
small{
  color: #555;
  position: relative;
}
.addtocart-btn{
  background-color: var(--primaryColor);
  padding: 8px;
}
.addtocart-btn:hover{
  background-color: var(--mainWhite);
  border: 1px solid var(--primaryColor);
}
 /*----------testimonials-----------*/
 .rating{
   color: #ff523b;
 }
 .testimonails{
   padding-top: 100px;
   width: 80%;
   margin: 0 auto;
   }
 .testmonial-box{
   text-align: center;
   padding: 40px 20px;
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
   transition: transform 0.5s;
 }
 .testmonial-box img{
   width: 70px;
   margin-top: 20px;
   border-radius: 50%;
 }
 .testmonial-box:hover{
 transform: translateY(-10px);
}
.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testmonial-box h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
/*-----------brands-------------*/
.brands{
  margin: 100px auto 100px; 
}
.col-lg-2{
  width: 160px;
}
.col-lg-2 img{
  width: 90%;
  margin:0px auto 10px;
  height: 80px!important ;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-lg-2 img:hover{
  filter: grayscale(0%);
}
/*----------------services---------------*/
#services{
  margin: 60px auto 60px;
  padding: 70px;
  background:linear-gradient(#000080,#800080);
  color: #ffffff;
}
#services img{
    height: 120px;
    width: 150px;
    margin-bottom: 20px;
}
#services .col-lg-3 {
  margin-right: 80px;
}







/*--------------footer-------------*/
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;   /*width for 3rd and 4th will be same*/
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 120px;
  height: 60px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px;
}
.copyright{
  text-align: center;
}
/*----------------------All products page---------------*/
.row-2{
  justify-content: space-between;
  margin: 100px 50px 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background-color: #ff523b;
  color: #fff;
}
a{
  text-decoration: none;
}
.page-btn{
  margin-bottom: 40px;
}
.shorting{
  margin: 30px;
}
.allproducts{
 text-align: center;
 margin-top: 60px;
}
/*-------------responsive------------------*/
.menu-icon{
  width: 30px;
  margin-left: 20px;
  display: none;
}
@media only screen and (max-width:800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
  @media only screen and (max-width:600px) {
    .row{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
    }
   
  }
}
